.App {
  height: 100vh;
  width: 100vw;
}

.dark-mode {
  background-color: rgb(23, 23, 29);
  color: rgb(247, 248, 250);
}

.light-mode {
  background-color: rgb(247, 248, 250);
  color: rgb(23, 23, 29);
}